@import "abstracts/mixins";
@import "abstracts/variables";

#job-listings, #job-preview {
    ol.jobs {
        li.job {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            min-height: 225px;
            padding: 8px;
            margin-bottom: 16px !important;

            @include bp(min-sm){
                min-height: 190px;
            }
        }

        dl {
            float: left;

            &.title-and-location {
                width: calc(100% - 110px);
            }

            &.logo-and-date {
                width: 110px;
            }
        }

        dd {
            &.title {
                width: 100%!important;
                padding: 0 0 10px;
            }

            &.location {
                width: 100%!important;
                padding: 0 0 10px;
            }

            &.date {
                width: 100%!important;
                text-align: left;

                strong {
                    display: inline;
                    margin-right: 5px;
                    color: #999;
                    font-size: .9em;
                }
            }

            @include bp(min-sm) {
                &.title {
                    width: calc(100% - 160px)!important;
                }

                &.location {
                    width: 140px!important;
                }

                &.date {
                    strong {
                        color: #555;
                        font-size: 1.3em;
                    }
                }

            }
        }

        &.logo {
            float: right;
            width: 110px;
        }
    }


    .taxonomies {
        clear: both;
        margin-top: auto;

        span {
            display: inline-block;
            margin: 8px 8px 0 0;
            padding: 3px 16px;
            background-color: #666666;
            color: white;

            &.full-time {
                background-color: #D72F1D;
            }

            &.part-time {
                background-color: #E3A029;
            }

            &.freelance {
                background-color: #8CB90E;
            }

            &.temporary {
                background-color: #97479E;
            }

            &.internship {
                background-color: #3B6284;
            }

            &.category {
                background-color: $hot-cinnamon;
            }

            &.salary {
                background-color: $fiery-orange;
            }
        }
    }

}
